/BatteryTagReader/.idea
/BatteryTagReader/.idea
/BatteryTagReader
.DS_Store
/BatteryTagReader-python/__pycache__
BatteryTagReader-python/log.json
log.json
/BatteryTagReader-python/venv
*.xcuserstate
BatteryTagReader-IOS/FRCBatteryReader/FRCBatteryReader.xcodeproj/project.xcworkspace/xcuserdata/nathan.xcuserdatad/UserInterfaceState.xcuserstate
